*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    list-style-type: none;
}

li{
    margin: 15px;
    font-size: 25px;
}

body{
    background-color: #f6f8f9;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

img{
    vertical-align: middle;
}

header{
    padding-left: 20px;
    background-color: white;
}

main{
    padding: 30px;
}

.box{
    width: 1000px;
    height: 800px;
    margin: auto;
    border-radius: 1%;
    background-color: white;
}

.button1{
    background-color: #47adf1;
    border: none;
    border-radius: 8%;
    color: white;
    font-size: 17px;
    padding: 5px 10px;
    margin: 15px 0 0 55px;
}

.button2{
    background-color: #ffffff;
    border-radius: 8%;
    border: 1px solid lightgrey;
    color: lightgrey;
    font-size: 17px;
    padding: 5px 10px;
    margin: 10px 0 0 1px;
}

.main-header{
    border-bottom: 2px solid #f6f8f9;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.task{
    margin-left: 25px;
    margin-bottom: 20px;
}

.pill-button{
    border-radius: 16px;
    color: white;
    font-size: 13px;
    padding: 5px 10px;
}

.circle{
    width: 15px;
    height: 15px;
    font-size: 9px;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.check{
    border: 1px solid green;
    color: green;
}

.cross{
    border: 1px solid red;
    color: red;
}

.blue{
    background-color: #47adf1;
}

.purple{
    background-color: #9c72e4;
}

.green{
    background-color: #61bea7;
}

.orange{
    background-color: orange;
}

.green2{
    background-color: #b0c926;
}

.pink{
    background-color: #d863a1;
}